<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button>
        <img class="logo_icon" src="/assets/images/logo.png">
      </ion-tab-button>
  
      <ion-tab-button tab="monday">
        <ion-label>MON</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tuesday">
        <ion-label>TUE</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="wednesday">
        <ion-label>WED</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="thursday">
        <ion-label>THU</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="friday">
        <ion-label>FRI</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
