<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/images/add.png">
            </ion-avatar>
            <ion-label>
              <h3>Jelo 1</h3>
              <p>Opis jela 1...</p>
            </ion-label>
          </ion-item>
        </ion-card>


      </ion-col>
      <ion-col>

        <ion-card>
          <ion-item>
            <ion-avatar slot="start">
              <img src="/assets/images/add.png">
            </ion-avatar>
            <ion-label>
              <h3>Jelo 2</h3>
              <p>Opis jela 2...</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        ion-col
      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-button color="success" (click)="addNewDish()">Add new dish</ion-button>

</ion-content>